{{extend 'layout.html'}}
<p style="font-size:20px; color:blue;">{{=Title}}</p>
<center>
    <table>
        <tr>
            <td style="background-color: #FFA500;" colspan="3">
                <h1 style="font-family:'Courier New';font-size:17px;">CaC Demo 1.0 </h1>
            </td>
        </tr>
        <tr>
            <td>
                 <img src="{{=URL('static','images/COAL1.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
            <td>
                 <img src="{{=URL('static','images/COAL2.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
             <td>
               <img src="{{=URL('static','images/COAL3.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
        </tr>
    </table>
</center>
