{{extend 'layout.html'}}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<p style="font-size:34px; color:black;">{{=Title}}</p>
<center>
    <table>
        <tr>
            <td style="background-color: #FFA500;">
                <h1 style="font-family:'Courier New';">CaC Demo 8.0 </h1>
            </td>
        </tr>
        <tr>
            <td>
                 <img src="{{=URL('static','images/COAL9.jpg')}}" alt="COAL HQ" >
            </td>
        </tr>
    </table>
	<table width="661" height="240" style="border-collapse:collapse;width:495.77pt">
<colgroup><col width="64" style="width:48.00pt"><col width="74" style="width:55.50pt"><col width="97" style="width:72.75pt"><col width="110" style="width:82.50pt"><col width="64" style="width:48.00pt"><col width="78" style="width:58.50pt"><col width="105" style="width:78.75pt"><col width="69" style="width:51.75pt"></colgroup>
<tbody>
<tr height="20" style="height:15.00pt">
<td height="20" width="64" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt;width:48.00pt">
Month</td>
<td width="74" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:55.50pt">
Area</td>
<td width="97" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:72.75pt">
Coal Dispatch</td>
<td width="110" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:82.50pt">
Challan Printed</td>
<td width="64" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:48.00pt">
WB</td>
<td width="78" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:58.50pt">
Total Fleet</td>
<td width="105" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:78.75pt">
Coal Receiving</td>
<td width="69" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-weight:700;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;width:51.75pt">
Reported</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Argada</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
194381400</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
7620</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
4</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
22</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
531</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
B &amp; K</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
495941760</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
18942</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
9</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
171</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
533010</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
1956</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Barka-Sayal</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
439934940</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
14547</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
5</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
16</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
284</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Dhori</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
590594530</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
27250</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
8</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
109</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
1866</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Hazaribagh</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
278276430</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
9588</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
5</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
31</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
372</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Kathara</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
299222115</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
15736</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
7</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
200</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
117572000</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
1671</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Kuju</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
40640530</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
1781</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
4</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
458</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
136</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
North Karanpura</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
126808240</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
5195</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
4</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
37</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
1140</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Piparwar</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
306467080</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
13571</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
5</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
280</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
25744150</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
2634</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Rajhara</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
3</td>
</tr>
<tr height="20" style="height:15.00pt">
<td height="20" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle;height:15.00pt">
APRIL</td>
<td style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
Rajrappa</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
97079730</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
4887</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
2</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
12</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
0</td>
<td align="right" style="padding-top:1px;padding-left:1px;padding-right:1px;color:rgb(0,0,0);font-size:11pt;font-family:Calibri;border:0.5pt solid rgb(0,0,0);vertical-align:middle">
275</td>
</tr>
</tbody>
</table>
</center>
