{{extend 'layout.html'}}
<h1>{{=Title}}</h1>
<center>
    <table>
        <tr>
            <td colspan="3">
                <h1>  CaC Demo 1.0 </h1>
            </td>
        </tr>
        <tr>
            <td>
                 <img src="{{=URL('static','images/COAL1.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
            <td>
                 <img src="{{=URL('static','images/COAL2.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
             <td>
               <img src="{{=URL('static','images/COAL3.jpg')}}" alt="COAL HQ" width="300" height="500">
            </td>
        </tr>
    </table>
</center>
